
body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #f2f2f2; 
  font-family: Arial, sans-serif;
}
.left_panel {
  width: 280px;
  background: #ffffff;
  padding: 20px;
  border-right: 2px solid #ddd;
  height: 100vh;
}

.btn_add {
  width: 100%;
  padding: 10px;
  background: #287bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.chambers {
  flex: 1;
  padding: 25px;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 33.5% 32% 32.5%;
}
.conference {
  grid-column: span 5;
  grid-row: 1 / 2;
  background-color: #4a90e2;
}
.serveurs {
  grid-column: 8 / 10; 
  grid-row: 1 / 2;
}
.security {
  grid-column: 10 / 13; 
  grid-row: 1 / 2;
  
}